<%- include('partials/head') -%>
<%- include('partials/nav-bar') -%>

<main class="container">
  <section class="container d-flex flex-column align-items-center text-center my-4">
    <div class="col-6 border-bottom border-dark py-5">
          <h2>Join a team</h2>
          <form action="/team/joinTeam" enctype="application/x-www-form-urlencoded" method="POST">
            <div class="mb-3">
                <label for="teamId" class="form-label">Team ID</label>
                <span>(Get from a team member)</span>
                <input type="text" class="form-control" id="teamId" name="teamId">
            </div>
            <button type="submit" class="btn btn-primary" value="Upload">Join Team</button>
          </form>
    </div>
      <div class="col-6  my-5">
            <h2>Add a team</h2>
            <form action="/team/createTeam" enctype="application/x-www-form-urlencoded" method="POST">
              <div class="mb-3">
                  <label for="teamName" class="form-label">Name (required)</label>
                  <input type="text" class="form-control" id="teamName" name="teamName">
              </div>
              <button type="submit" class="btn btn-primary" value="Upload">Create Team</button>
            </form>
      </div>
      </div>  
    </div>
  </section>
</main>



<%- include('partials/foot') -%>